@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap")
    format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.slider {
  align-items: baseline;
  flex-direction: column;
  float: left;
  margin-left: 5px;
  width: 250px;
  color: #505f98;

  .chose {
    transition: background-image 0.3s ease;
    border-radius: 5px;
  }

  .chose:hover {
    background-image: linear-gradient(to bottom right, #e7ecff, transparent);
  }

  .home {
    margin: 5px;
  }

  .categories {
    justify-content: space-between;
  }

  .category {
    margin: 5px;
  }

  .flex-center {
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }
}

section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
