@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap")
    format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 3px;
  margin-bottom: 3px;

  @keyframes colorChange {
    0% {
      fill: #505f98;
    }
    100% {
      fill: #fff;
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;

    svg {
      fill: linear-gradient(45deg, #505f98, #fff);
      animation: colorChange 3s infinite alternate;
    }

    h3 {
      margin-left: 2px;
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 23px;
      color: #505f98;
      font-family: "Righteous", sans-serif;
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    color: #505f98;

    .logout {
      background-color: transparent;
      border: none;

      svg {
        color: #505f98;
      }
    }

    span {
      margin-right: 5px;
      font-weight: 450;
    }
  }

  .signIn {
    width: 168px;
    height: 39px;
    background-color: transparent;
    border: 2.5px solid #505f98;
    color: #6d70b3;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    font-weight: 500;
  }

  .signIn:hover {
    background-color: #e7ecff;
  }

  .logIn {
    width: 168px;
    height: 39px;
    font-size: 16px;
    margin-left: 5px;
    background-color: #505f98;
    border: 2.5px solid #505f98;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
  }

  .logIn:hover {
    color: #6d70b3;
    background-color: #e7ecff;
  }

  .signIn,
  .logIn {
    transition: background-color 0.3s, color 0.3s;
  }
}

.underline {
  border: none;
  border-top: 3px solid #f3f6ff;
  width: 100%;
}
